body {
  font-family: Verdana, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  color: white;
}

.gradientBG {
  background: linear-gradient(to right, #000000 50%, #cf3097);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  background-color: #2D0029;
  padding: 0px 90px 50px 90px;
  border-radius: 30px;
}

.wikiPage {
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.wikiTextCard {
  border-radius: 15px;
  background-color: #2D0029;
  padding: 15px;
}

header {
  color: #cf3097;
  background: linear-gradient(to top, #000000 0%, #2D0029);
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

p {
  text-align: justify;
}

footer {
  color: #cf3097;
  background: linear-gradient(to bottom, #000000 10%, #2D0029 90%);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; 
}

h1 {
  font-size: 70px;
  color: #cf3097;
}

.textInput{
  border-radius: 5px;
  width: 90%;
  height: 30px;
  background-color: #ecafd7;
  text-align: center;
}

button {
  background-color: #cf3097;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 150px;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}